@charset "utf-8";
body{
    font-family: 'Noto Sans KR', sans-serif;
}
*{margin: 0;padding: 0;}

/* 모달팝업창 */
.modal_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    z-index: 300;
    display: none;
}
.modal_wrap .cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}
.modal_wrap .cover .modal_content{
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.modal_wrap .cover .modal_content .m_txt{
    color: #fff;
}
.modal_wrap .cover .modal_content .btn_list{
    position: absolute;
    right: 0; top: 0;
}
.modal_wrap .cover .modal_content .btn_list li{
    float: left;
    margin-top: 18px;
    
}
.modal_wrap .cover .modal_content .btn_list li button{
    text-indent: -99999px;
    width: 11px;
    height: 15px;
    border: none;
    margin-left: 50px;
    cursor: pointer;
}
.modal_wrap .cover .modal_content .btn_list li .prev{
    background: url("../images/btn_main_youtube_l.png") no-repeat;
}
.modal_wrap .cover .modal_content .btn_list li .next{
    background: url("../images/btn_main_youtube_r.png") no-repeat;
}
.modal_wrap .cover .modal_content .btn_list li .close{
    width: 14px;
    height: 14px;
    background: url("../images/btn_main_youtube_close.png") no-repeat;
}
.modal_wrap .cover .modal_content .m_txt h2{
    font-size: 30px;  
}
.modal_wrap .cover .modal_content .m_txt p{
    font-size: 14px;
    margin: 10px 0;
    color: #a6a6a6;
}


/* 전체메뉴영역 */
.allmenu_wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0; top: 0;
    background: rgba(0,0,0,0.9);
    z-index: 200;
    display: none;
}
.allmenu_wrap .allmenu{
    width: 1200px;
    height: 750px;
    position: relative;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.allmenu_wrap .allmenu .depth1{
    width: 100%;
    padding: 10px 90px 10px 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.allmenu_wrap .allmenu .depth1>li{
    float: left;
}
.allmenu_wrap .allmenu .btn_close{
    width: 20px;
    height: 20px;
    background: url("../images/btn_sitemap_close.png") no-repeat;
    text-indent: -99999px;
    border: none;
    position: absolute;
    right: 25px;top: 20px;
    cursor: pointer;
}
.allmenu_wrap .allmenu .depth1>li>a{
    /* display: block; */
    color: #fff;
    font-size: 25px;
    letter-spacing: -0.5px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li{
    margin-bottom: 10px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li:first-child{
    margin-top: 15px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li>a{
    display: block;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
    background: url("../images/bul01.gif") no-repeat left center;
    letter-spacing: -0.5px;
    font-weight: 300;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li:hover>a{
    text-decoration: underline;
    color: #7ccad3;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li .depth3{
    border-left: 1px solid rgba(255,255,255,0.5);
    margin-top: 4px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li .depth3 li{
    margin-bottom: 4px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li .depth3 li a{
    display: block;
    font-size: 13px;
    color: #ccc;
    text-indent: 10px;
    font-weight: 100;
    letter-spacing: -0.5px;
}
.allmenu_wrap .allmenu .depth1>li>.depth2>li .depth3 li:hover a{
    text-decoration: underline;
    color: #7ccad3;
}



.header{
    /* width 100%는 브라우저 꽉차게 들어가는 명령 */
    width: 100%;
    height: 70px;
    position: absolute;
    left: 0;top: 0;
    background: #fff;
    z-index: 100;
}
.header::before{
    content: "";
    width: 100%;
    height: 1px;
    background: #d0d0d0;
    position: absolute;
    left: 0;top: 70px;
    z-index: 100;

}
/* 부모와 자식간의 관계를 명확하게 */
.header .header_inner{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
}
li{list-style: none;}
/* 링크 밑에 생기는 파란선 제거 */
a{text-decoration: none;}
/** 로고 **/
.header .header_inner h1{
    float: left;
    margin-top: 13px;
    margin-right: 70px;
}
/** 주메뉴 **/
.header .header_inner .gnb{
    float: left;
}
.header .header_inner .gnb>li{
    float: left;
    margin-right: 64px;
    position: relative;
}
.header .header_inner .gnb>li::before{
    content: "";
    width: 3px;
    height: 16px;
    background: #2f6cab;
    position: absolute;
    left: 0; top: 50%;
    margin-top: -8px;
    margin-left: -15px;
    display: none;
}
.header .header_inner .gnb>li:hover::before{
    display: block;
}
.header .header_inner .gnb>li:hover>a{
    color: #2f6cab;
}
.header .header_inner .gnb>.last{
    margin-right: 0;
}
.header .header_inner .gnb>li>a{
    /* a태그는 inline요소로 a영역크기(손모양)를 주려면 반드시 블럭요소로 변환 해줘야함 */
    display:block;
    height: 70px;
    color: #555;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: -1px;
}
.header .header_inner .gnb>li>.g_depth2{
    height: 275px;
    position: absolute;
    left: -15px; top: 70px;
    padding-top: 20px;
    display: none;
    padding-left: 15px;
}
.header .header_inner .gnb>li>.g_depth2>li{
    width: 120px;
    margin-bottom: 14px;
    position: relative;
}
.header .header_inner .gnb>li>.g_depth2>li>a{
    /* display: block; */
    font-size: 14px;
    color: #727272;
    letter-spacing: -1px;
}
.header .header_inner .gnb>li>.g_depth2>li>a:hover{
    color: #002b5c;
}
/** 유틸리티(util) **/
.header .header_inner .util{
    float: right;
}
.header .header_inner .util>li{
    float: left;
    margin-left: 23px;
    height: 70px;
    line-height: 70px;
    position: relative;
}
.header .header_inner .util .first{
    margin: 2px 0;
}
.header .header_inner .util .first .search_form{
    position: absolute;
    left: -329px; top: 61px;
    width: 400px;
    height: 58px;
    background: url("../images/bg_searchbox.png") no-repeat;
    display: none;
    z-index: 100;

}
.header .header_inner .util .first .search_form fieldset{
    border: none;
    padding: 0 20px;
    
    
}
.header .header_inner .util .first .search_form fieldset legend{
    position: absolute;
    left: -99999px;
}
.header .header_inner .util .first .search_form fieldset input{
    width: 290px;
    height: 30px;
    vertical-align: middle;
    margin-bottom: 10px;
    text-indent: 10px;
    border: none;
    
}
.header .header_inner .util .first .search_form fieldset .btn_search{
    width: 51px;
    height: 10px;
    background: url("../images/btn_search.png") no-repeat;
    text-indent: -99999px;
    margin-bottom: 10px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}


/*** main 영역 ***/
.main{
    width: 100%;
    position: relative;
    padding-top: 70px;
}
.main .visual{
    width: 100%;
    height: 920px;
}
.main .visual .visual1{
    height: 920px;
    background: url("../images/main_01_01.jpg") no-repeat center top;
}
.main .visual .visual2{
    height: 920px;
    background: url("../images/main_01_02.jpg") no-repeat center top;
}
.main .visual .visual3{
    height: 920px;
    background: url("../images/main_01_03.jpg") no-repeat center top;
}
.main .main_inner{
    width: 1200px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 80px;
}
.main .main_inner .inner_list{
    float: right;
}
.main .main_inner .inner_list li{
    padding: 20px 0;
}
.main .main_inner .inner_list li:first-child{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.main .main_inner h2{
    padding-top: 160px;
}
.main .main_inner .txt1{
    font-size: 20px;
    color: #fff;
    margin: 20px 0 30px;
    font-weight: 300;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 70%);
}
.main .main_inner .list_img{
    width: 1110px;
    margin: 0 auto;
    overflow: hidden;
}
.main .main_inner .list_img li{
    float: left;
    margin-right: 30px;
    position: relative;
}
.main .main_inner .list_img li:last-child{
    margin-right: 0;
}
.main .main_inner .list_img li .mask{
    width: 350px;
    height: 196px;
    position: relative;
    overflow: hidden;
}
.main .main_inner .list_img li .mask::before{
    content: "";
    width: 100%;
    height: 100%;
    border: 0px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 0; top: 0;
    z-index: 100;
}
.main .main_inner .list_img li .mask:hover img{
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.main .main_inner .list_img li .mask:hover:before{
    border: 6px solid #fff;
}
.main .main_inner .list_img li .txt2{
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    letter-spacing: -1px;
    position: absolute;
    left: 50%; bottom: 30px;
    transform: translateX(-50%);
    text-shadow: 0px 1px 2px rgb(0 0 0 / 70%);
}
.main .main_inner .txt3{
    width: 100%;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    margin: 70px 0 15px;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 70%);
}
.main .main_inner .txt4{
    display: block;
    width: 178px;
    height: 48px;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color: #fff;
    border: 2px solid #fff;
    background: rgba(0,0,0,0.2);
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 70%);
}
.main .main_inner .channel{
    width: 1110px;
    height: 62px;
    margin: 63px auto ;
    overflow: hidden;
    border-top: 1px solid #fff;
    padding: 0 110px;
    box-sizing: border-box;
}
.main .main_inner .channel li{
    float: left;
    height: 39px;
    line-height: 39px;
    margin-top: 23px;
    color: #fff;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 70%);
}
.main .main_inner .channel li:first-child{
    margin-right: 10px;
}
.main .main_inner .channel li:first-child img{
    width: 16px;
    height: 29px;
    margin-left: 30px;
    vertical-align: middle;
}
.main .main_inner .channel li a{
    display: block;
    color: #fff;
    line-height: 39px;
    margin-right: 85px;
}
.main .main_inner .channel li img{
    height: 39px;
    vertical-align: middle;
    margin-right: 20px;
}
/*** footer 영역 ***/
#footer{
    width: 100%;
    height: 100px;
    background: #e1e1e1;
}
#footer .footer_inner{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding-top: 25px;
    box-sizing: border-box;
}
#footer .footer_inner .left{
    float: left;
}        
#footer .footer_inner .left .footer_menu{
    overflow: hidden;
}
#footer .footer_inner .left .footer_menu li{
    float: left;
    /* 중앙에 경계선 줄때는 padding으로 여백잡기 */
    padding: 0 15px;
    position: relative;
}
/* li에 가상선택자 사용 ::after(후) ::before(전)*/
#footer .footer_inner .left .footer_menu li::after{
    content:"";
    width: 1px;
    height: 11px;
    background: #8e8e8e;
    position: absolute;
    left: 0; top:50%;
    margin-top: -5.5px;
}
#footer .footer_inner .left .footer_menu .first{
    padding-left: 0;
}
#footer .footer_inner .left .footer_menu .first::after{
    display: none;
}
#footer .footer_inner .left .footer_menu .last::after{
    display: none;
}
#footer .footer_inner .left .footer_menu .li3 a{
    color:#0e1935;
    font-weight: bold;
}
#footer .footer_inner .left .footer_menu li a{
    font-size: 13px;
    color: #29200e;
}
#footer .footer_inner .left address{
    font-size: 13px;
    color: #555;
    font-style: normal;
}
#footer .footer_inner .left .footer_menu li a img{
    width: 52px;
}
#footer .footer_inner .right{
    float: right;
}
#footer .footer_inner .right .work{
    float: left;
    position: relative;
}
#footer .footer_inner .right>div>button{
    width: 90px;
    height: 34px;
    border: none;
    border-bottom: 1px solid #222;
    background: none;
    text-align: left;
    font-size: 13px;
    letter-spacing: -1px;
    background: url("../images/ico_plus.png") no-repeat right center;
    cursor: pointer;
}
#footer .footer_inner .right .btn_work.on{
    background: url("../images/ico_mius.png") no-repeat right center;
}
#footer .footer_inner .right .work_list{
    width: 330px;
    height: 245px;
    background: #222;
    position: absolute;
    right: 0; bottom: 60px;
    display: none;
}
#footer .footer_inner .right h2{
    height: 50px;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #4b4b4b;
    font-weight: 400;
    line-height: 50px;
    padding-left: 20px;
    position: relative;
}
#footer .footer_inner .right h2 .btn_cl{
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    right: 20px; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 100;
}
#footer .footer_inner .right h2::before{
    content: "";
    width: 8px;
    height: 2px;
    background: #fff;
    position: absolute;
    right: 20px; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
#footer .footer_inner .right .list{
    width: 100%;
    padding: 10px 0px 0px 20px;
    box-sizing: border-box;
}
#footer .footer_inner .right .list li{
    width: 50%;
    float: left;
    box-sizing: border-box;
    line-height: 23px;
}
#footer .footer_inner .right .list li a{
    font-size: 13px;
    color: #aaa;
    font-weight: 300;
    letter-spacing: -0.3px;
}
#footer .footer_inner .right .list a:hover{
    color: #fff;
    text-decoration: underline;
}
#footer .footer_inner .right .company{
    float: right;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
#footer .footer_inner .right .company_list{
    width: 330px;
    height: 245px;
    background: #3c3c3c;
    position: absolute;
    right: 0; bottom: 60px;
    display: none;
}
#footer .footer_inner .right .btn_company.on{
    background: url("../images/ico_mius.png") no-repeat right center;
}